<!DOCTYPE html>
  <html lang='en'>
    <head>
      <link rel = 'stylesheet' href = '/style.css'>
      <meta charset='utf-8'>
      <title>Rock Paper Scissors</title>
    </head>
    <body>
      <nav>
      <ul>
        <li><a href="/">rules</a></li>
      </ul>
    </nav>
      <%= yield %>
    </body>
  </html>
