body {
  width: 50%;
  padding-top: 10%;
  margin: auto;
  font-family: monospace;
  font-size: 1.5em;
}


ul {
    list-style-type: none;
    padding-left: 0;
}

li a {
  background-color: #ddd;
  color: #fff;
}
